// Place all the styles related to the simple_pages controller here.
h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #00cd00;
  text-align: center;
  padding: 50px;
}
h2, p {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #FF0000;
  text-align: center;
}
a {
  padding-left: 5px;
}
#navigation {
  text-transform: uppercase;
  color: steelblue !important;
}
body {
  background: {
    attachment: fixed;
    size: cover;
    padding-top: 10px 10px 10px 10px;
  }
}
.img-responsive{
  position: relative;
  margin-left: 300px;
}

#contact{

  font-family:  sans-serif;
  font-size: 16px;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 750px;
  color : #fff;
}

.form-group{
  margin-top: 10px;
  margin-left: 50px;
  width: 35%;
}

.form_label {
  margin-left: 35px;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
