<div class="product_index_page">


 <h1 id="products_header">Our Products</h1>


 <div class="container-fluid">
   <div class="row">
     <div class="col-sm-8 col-md-4">
       <% cache(cache_key_for_products) do %>
         <%= render @products %>
       <% end %>
     </div> <!-- col -->
   </div> <!-- row -->
 </div> <!-- container -->
 <span><%= link_to 'New Product', new_product_path %></span>
</div>
