<div class="product_index_page">


<h1 id="products_header">Our Products</h1>


<div class="container-fluid">
  <div class="row top_buffer">
    <div class="col-xs-12 col-md-12">
        <%= render @products %>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
